/* Master Styles*/
body {
    margin: auto;
    margin-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

.brand {
    text-align: left;
    position: relative;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 0.8px;
    font-size: 2em;
    color: white
}

.class {
    align-items: center;
}

.coverRef {
    position: relative;
    display: block;
    top: -250px;
    visibility: hidden;
}

.aboutRef {
    position: relative;
    display: block;
    top: 90px;
    visibility: hidden;
}

.projectRef {
    position: relative;
    display: block;
    top: -80px;
    visibility: hidden;
}

.main-cover {
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 64vh;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    font-size: 2.5em;
    color: black;
}

.main-cover > p {
    animation: transitionIn 1s;
}

.main-cover > h1 {
    animation: transitionIn 1s;
}

/*Nav Styles*/
.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
    filter:drop-shadow(0 0 0.5rem #E5E4E4);
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.middle_direct {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-wrapper > .middle_direct > div {
    margin-right:80px;
    margin-left:80px;
    font-size: 0.9em;
    letter-spacing: 0.8px;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #686963;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    transition: color 0.5s;
    color: black;
}

.nav-link-wrapper a:hover {
    color: #db5461;
}
/*hover transitions*/

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #db5461;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/*Info*/
.section {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.subsection {
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.description {
    animation: opacity 2s;
    position: relative;
    font-family: raleway;
    font-size: 1.3em;
    letter-spacing: 0.6px;
    color: black;
    margin-bottom: 15px;
    display: inline-block;
}

.subtitle {
    font-family: Arial Outline, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: black;
    margin-top: 20px;
}

.title {
    font-family: Arial Outline, Helvetica, sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    color:#db5461;
}

.note {
    text-decoration: none;
    animation: opacity 5s;
    text-align: center;
    letter-spacing: 4px;
    font-family: raleway;
    font-size: 0.9em;
    font-style: bold;
    color: black;
    padding-left: auto;
    padding-right: auto;
}

.course {
    display: flex;
    flex-direction: row;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 550%);
    transition: 500ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;
}

.modal.active {
transform: translate(-50%, -50%);
}

.modal-header {
padding: 10px 15px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid black;
}

.modal-header .title {
font-size: 1.25rem;
font-weight: bold;
}

.modal-header .close-button {
cursor: pointer;
border: none;
outline: none;
background: none;
font-size: 1.25rem;
font-weight: bold;
transition: all .3s ease-in-out;
}

.close-button:hover{
    color: #db5461;
    transform: scale(1.25); 
}

.modal-body {
padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    z-index: 4;
}

video {
    max-width: 75%;
    max-height: 50%;
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

/*Fonts*/
@font-face {
    src: url(Fonts/Warownia.otf);
    font-family: Helvetica Neue;
}
@font-face {
    src: url(Fonts/WarowniaUlt.otf);
    font-family: Helvetica Bold;
}
@font-face {
    src: url(Fonts/Raleway-Light.ttf);
    font-family: Raleway;
}

/*Portfolio Styles*/
.fab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }

.fab:hover {
    color: #db5461;
}


.icon {
    position: relative;
    animation: opacity 3s;
    text-decoration: none;
    width: 35px;
    vertical-align: middle;
    filter: brightness(0.65);
}

.icon:hover {
    transition: all .3s ease-in-out;
    filter: brightness(0.8);
}

.portfolio-item-wrapper {
    position: center;
    padding:10px;
}

.portfolio-img-background {
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}
.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.image-blur {
    transition: 1s;
    filter: brightness(10%);
}

.grow { 
    transition: all .5s ease-in-out; 
}

.grow:hover { 
    transform: scale(0.95); 
    filter: drop-shadow(0 0 0.25rem #BEBEBE);
}

.img-text-wrapper:hover .subtitle {
    color: white;
    font-weight: 600;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.footer-content-left {
    position: absolute;
    font-family: arial, sans-serif;
    letter-spacing: 2px;
    padding-top: 50px;
    text-align: left;
}

.footer-content-right {
    position: relative;
    font-family: arial, sans-serif;
    letter-spacing: 2px;
    padding-top: 50px;
    text-align: right;
}

#footer {
    display: block;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}

.center {
    margin: 0 auto;
}
/*Load in*/ 
@keyframes transitionIn {
    from {
        opacity:0;
        transform: translatey(15%);
    }

    to {
        opacity: 1;
        transform: translatey(0%);
    }
}

@keyframes opacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
